@import ./colors
  
*
  margin: 0
  transition-duration: .4s

body
  background-color: $darkest
  color: $brighter

a, p, h1, h2, h3, h4, h5, h6, th, td
  text-decoration: none
  color: white
  font-family: sans-serif

.topListTable
  border-collapse: separate
  border-spacing: 0px
  white-space: nowrap
  align-self: center
  @media screen and ($smallScreen)
    width: 100%
  th
    font-size: 25pt
    text-align: center
    border-bottom: 2px solid $bright
    background-color: $darker
    @media screen and ($smallScreen)
      font-size: 30pt
  td
    font-size: 15pt
    text-align: center
    min-width: 200px
    @media screen and ($smallScreen)
      font-size: 20pt
  tr
    &:nth-child(even) td
      background-color: $darker

div
  .centeredColumn
    display: flex
    justify-content: center
    flex-direction: column

.accent
  color: $bright

.hiddenOnMobile
  @media screen and ($smallScreen)
    display: none !important

iframe
  width: 100%
  height: 100%
  position: absolute